<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/estilos.css}" />
    <title>Añadir Género</title>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--El Fontawesome en últimna versión-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    
    <div class="row my-5 text-center">
        <div class="col-12 user-img">
            <a th:href="@{/index}"><img th:src="@{/img/usuario.png}"></a>
        </div>
    </div>

    <form th:action="@{/artista/addA}" th:object="${artista}" method="post" >
    <section class="form-register">

        <h1 th:text="${accion}" class="text-info" id="tituloForm"></h1>
        <br>
        <label>
            <h4>Número doc artista</h4>
        </label>
        <input type="hidden" class="controls"  id="idArtista" th:field="*{idArtista}"/>

            <input type="text" class="controls"  id="noDocArtista" th:field="*{noDocArtista}"   placeholder="Ingrese el documento" />
            <div class="form-text text-danger" th:if="${#fields.hasErrors('noDocArtista')}" th:errors="*{noDocArtista}"></div>

            <label>
                <h4>Tipo documento</h4>
            </label>
                <input type="text" class="controls"  id="tipoDocArtista" th:field="*{tipoDocArtista}"   placeholder="Ingrese el tipo "/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('tipoDocArtista')}" th:errors="*{tipoDocArtista}"></div>

                
            <label>
                <h4>Nombre</h4>
            </label>
                <input type="text" class="controls"  id="nombreArtista" th:field="*{nombreArtista}"   placeholder="Ingrese el nombre del artista"/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('nombreArtista')}" th:errors="*{nombreArtista}"></div>

            <label>
                <h4>Apellido</h4>
            </label>
                <input type="text" class="controls"  id="apellidoArtista" th:field="*{apellidoArtista}"   placeholder="Ingrese el apellido del artista"/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('apellidoArtista')}" th:errors="*{apellidoArtista}"></div>

                
            <label>
                <h4>Nombre artistico</h4>
            </label>
                <input type="text" class="controls"  id="nomArtistcArtista" th:field="*{nomArtistcArtista}"   placeholder="Ingrese el nombre artistico"/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('nomArtistcArtista')}" th:errors="*{nomArtistcArtista}"></div>

                
            <label>
                <h4>Fecha nacimiento</h4>
            </label>
                <input type="text" class="controls"  id="fechaNacArtista" th:field="*{fechaNacArtista}"   placeholder="Ingrese la fecha de nacimiento"/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('fechaNacArtista')}" th:errors="*{fechaNacArtista}"></div>

            <label>
                <h4>Email</h4>
            </label>
                <input type="text" class="controls"  id="emailArtista" th:field="*{emailArtista}"   placeholder="Ingrese el email" />
                <div class="form-text text-danger" th:if="${#fields.hasErrors('emailArtista')}" th:errors="*{emailArtista}"></div>

            <label> 
                <h4>Estado</h4>
            </label>
            <input type="checkbox"  class="form-check form-switch"  id="estadoArtista" th:field="*{estadoArtista}" checked /> 
            <div class="form-text text-danger" th:if="${#fields.hasErrors('estadoArtista')}" th:errors="*{estadoArtista}"></div>

        <button  type="submit" class="botons bg bg-info text-center" >REGISTRAR ARTISTA</button>

      
    </section>
    </form>
</body>

</html>