<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-stripped">
        <thead>
        <th>No.</th>
        <th>Nombre Album</th>
        <th>Año album</th>
        </thead>
        
        <tbody>
        <tr th:each="albums:${genero.album}">
        <td th:text="${albums.idAlbum}"></td>
        <td th:text="${albums.nombreAlbum}"></td>
        <td th:text="${albums.anioAlbum}"></td>

        </tr>
        </tbody>
        </table>
</body>
</html>